.responsive{
    display: none;
}
@media(max-width: 900px){
    .normal{
        display: none;
    }
    #checkbox{
        display: none;
    }
    #menu-titulo1{
        text-align: center;
        width: 100%;
    }
    .responsive{
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .responsive nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #260101;
        width: 100%;
        left: -100%;
        top: 100%;
        transition:  500ms;
    }
    .responsive nav a{
        width: 100%;
        text-align: center;
    }
    #checkbox:checked~nav{
        left: 0;
        transition:  500ms;

    }
}
label{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.responsive>div{
    text-align: center;
}